@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Open session</h2>
        <form asp-controller="Home" asp-action="Open">
            <input type="submit" value="Open" />
        </form>        
    </div>
    <div class="col-md-3">
        <h2>Update session</h2>
        <button disabled="disabled">Update</button>
    </div>
    <div class="col-md-3">
        <h2>Close session</h2>
        <button disabled="disabled">Close</button>
    </div>
    <div class="col-md-3">
        <h2>Is valid session?</h2>
        <button disabled="disabled">Check</button>
    </div>
</div>
<div class="row">
    @if (ViewData["session"] != null)
    {
        <br/>
        <span>@ViewData["session"].ToString()</span>
    }
</div>
