@model Emuses.Session
@{
    ViewData["Title"] = "Home Page";
}

<h2>Session info:</h2>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <span><strong>Session id:</strong> @Model.GetSessionId()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Expiration date:</strong> @Model.GetExpirationDate()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Version:</strong> @Model.GetVersion()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Session timeout: </strong>@Model.GetSessionTimeout()</span>
        </div>
    </div>
}