@{
    ViewData["Title"] = "Home Page";
}

@*<div class="row">

        <div class="col-md-3">
            <h2>Open session</h2>
            <form asp-controller="Home" asp-action="Open" method="post">
                <input type="submit" value="Open"/>
            </form>
        </div>

        <div class="col-md-3">
            <h2>Update session</h2>
            <form asp-controller="Home" asp-action="Update" method="post">
                <input type="submit" value="Update"/>
            </form>
        </div>
        <div class="col-md-3">
            <h2>Close session</h2>
            <form asp-controller="Home" asp-action="Close" method="post">
                <input type="submit" value="Close" />
            </form>
        </div>
        <div class="col-md-3">
            <h2>Is valid session?</h2>
            <form asp-controller="Home" asp-action="IsValid" method="post">
                <input type="submit" value="Check" />
            </form>
        </div>
    </div>
    <div class="row">
        @if (ViewData["session"] != null)
        {
            <br/>
            <span>@ViewData["session"].ToString()</span>
        }
    </div>*@
